* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


body {
    width: 1000;
    height: 1000;
}

canvas {
    position: relative;
    width: 1000;
    height: 1000;
}

stats {
    width: 200;
    background-color: rgb(225, 225, 225);
    padding: 5px;
}


#happiness-label {
    font-style: sans-serif;
    margin: 0;
}

#room-happiness {
    font-style: sans-serif;
    margin: 0;
}

.stat-container{
    margin-left: 0;
    margin-right: 0;
    margin-top: 10px;
    margin-bottom: 10px;

}

.stat-label {
    font-style: sans-serif;
}

.stat {
    font-style: sans-serif;
}