* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

canvas {
    margin: auto;
    width: 98vmin;
    height: 98vmin;
}

body{
    margin: 0;
    height:100%;
}
html{
    height: 100%;
}

stats {
    background-color: rgb(225, 225, 225);
    padding: 5px;
}


#happiness-label {
    font-style: sans-serif;
    margin: 0;
}

#room-happiness {
    font-style: sans-serif;
    margin: 0;
}

.stat-label {
    font-style: sans-serif;
}

.stat {
    font-style: sans-serif;
}

.screen-overlay {
  position: fixed;
  display: flex;
  flex-direction: column;  

  align-items: center;
  justify-content: center;
  align-self: center;

  width: 100%;
  height: 100%;

  z-index: 3;

  color: white;
  background-color: rgba(0,0,0,1);

}

.paused-view {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  width:100%;
  height: 100%;

  color: white;
  background-color: rgba(0,0,0,.8);

  font-size: 45px;
}

.enticement-view {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  

  align-self: center;

  z-index: 3;

  border-radius: 4px;
  color: white;
  background-color: lightgray;

}

.enticement-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    width: 100%;

    justify-content: space-around;


}

.description-area{
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: rgba(106,30,30, 1);
}

.description-area-text{
    min-height: 32px;
}

.modal-header{
    display: flex;
    justify-content: space-between;

    align-items: center;

    width: 100%;
}

.close-icon{
    height: 24px;
    width: 24px;

    flex-basis: auto;
}

.close-icon:hover{
    opacity: .7;
}

.enticement{
    display: flex;
    flex-direction: column;

    height: 128px;
    width: 160px;

    border-radius: 4px;

    background-color: rgba(106,30,30,1);
}

.enticement:hover, .enticement-activated{
    background-color: rgba(106,30,30,.9);
    -webkit-box-shadow: 0 8px 6px -4px black;
    -moz-box-shadow: 0 8px 6px -4px black;
    box-shadow: 0 8px 6px -4px black;
}

.enticement-item-container{

    display: flex;
    flex-direction: row;

    align-items: center;

    height: 50%;
    width: 100%;

    border-radius: 4px;
    

    background-color: lightgray;
}

.enticement-item-icon{
    height: 48px;
    width: 48px;
}

.hidden {
  display: none!important;
}


/*Chris' stupid inefficient css section
-------------------------------------------------------*/

.main-page{
    display: flex;
    flex-direction: row;

    justify-content: center;
    height:100%;
    background: black;
}
.ui-area{
    display: flex;
    flex-direction: row;
    align-self: flex-start;

    position: fixed;
    left: 0;
    z-index: 2;
    

    min-width: 300px;
    padding: 4px;

    background-color: rgba(106, 30, 30, 1);
}
.ui-column-container{
    display: flex;
    flex-direction: column;

    color: lightgray;

    background-color: rgba(255, 255, 255, 0);
}

.stat-container{
    display: flex;
    flex-direction: row;
   
}
.stat-all-container{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;   
}

.info-text-title{
    font-size: 20px;
    font-weight: 700;

}

.info-text-item{
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.section-text-title{
    font-size: 12px;
    font-weight:700;
    text-transform: uppercase;
}

.remove-ul-padding{
    padding:0;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
}

.stat-text-container{
    margin: 4px;
    padding: 2px;

}
.action-button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    
    margin-top: 4px;
    margin-bottom: 4px;

    background-color: rgba(255,255,255, .15);
    color: lightgray;


    border-radius: 4px;
   
}
.action-button-wrapper:hover{
    background-color: rgba(255,255,255, .8);
    color: black;
    cursor: pointer; 
}

.action-button{
    margin: 8px;
}

.action-button-icon{
    margin: 4px;
    height:30px;
    width:30px;
}

.cmb-bold{
    font-weight: 700;
}
.cmb-italic{
     font-style: italic;
}
.fill-space{
    flex-grow: 1;
}

.container-padding{
    padding: 8px;
}
.child-padding{
    margin: 8px;
}
.bottom-spacer{
    margin-bottom: 4px;
}

.button-container{
    display: flex;
    flex-direction: column;

    padding: 4px;
}

.button-padding{
    margin: 4px;
}

.height-spacer{
    height:16px;
}

.dark-text{
    color: black;
}

.light-text{
    color: lightgray;
}

.maroon-text{
    color: rgba(200,40,40,1);
}

.align-self-end{
    align-self: flex-end;
}


/* crappy css I pulled from something else I was doing earlier */
.sub-title{
    color:lightgray; 
    font-size: 2vw; 
    margin:8px;
}

.link-wrapper{
    padding:4px;
}
.link-container{
    display: inline-block;

    width: auto;
    height: auto;

    padding: 8px;
    margin:4px;
    border-radius: 4px;

    font-size: 3vw;
    color: black;
    background-color: rgba(255,255,255,.6);

}
.link-container:hover{
    background-color: rgba(255,255,255,1);
    cursor: pointer;  
}

.name-chris{
    font-size: 6vw;
    padding: 8px;
    color: lightgray;
}

.picture-shadow{
box-shadow: 0 2px 2px black;
}
.text-shadow{
text-shadow: 0 2px 2px black;
}

@media (max-width: 768px){

    .name-chris{
        font-size: 8vw;
    }

    .perspective-button span{
        font-size: 6vw;
    }

    .link-container{
    
        font-size: 6vw;
    }
    .sub-title{
    
        font-size: 4vw; 
    
    }

}

.menu-container{
    padding-right: 20%;
    margin-left: 4%; 
}

.flex-container-right{
    display: flex;
    justify-content: flex-end;
}
