* {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

canvas {
    position: relative;
    width: 600px;
    height: 600px;
}

stats {
    background-color: rgb(225, 225, 225);
    padding: 5px;
}


#happiness-label {
    font-style: sans-serif;
    margin: 0;
}

#room-happiness {
    font-style: sans-serif;
    margin: 0;
}

.stat-label {
    font-style: sans-serif;
}

.stat {
    font-style: sans-serif;
}

.paused-view {
  position: fixed;
  right: 140px;
  top: 100px;

  font-size: 45px;
}

.hidden {
  display: none;
}

/*Chris' stupid inefficient css section
-------------------------------------------------------*/

.main-page{
    display: flex;
    flex-direction: row;
}
.ui-area{
    display: flex;
    flex-direction: column;

    min-width: 300px;
    padding: 4px;

    background-color: rgba(0, 0, 0, .2);
}
.ui-column-container{
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255, .8);
}

.stat-container{
    display: flex;
    flex-direction: row;
   
}
.stat-all-container{
    display: flex;
    flex-direction: column;

    padding-top: 20px;
    padding-bottom: 20px;   
}

.info-text-title{
    font-size: 20px;
    font-weight: 700;

}

.info-text-item{
    font-size: 16px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.section-text-title{
    font-size: 12px;
    text-transform: uppercase;
}

.remove-ul-padding{
    padding:0;
    list-style-type: disc;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 1em;
}

.stat-text-container{
    margin: 4px;
    padding: 2px;

}
.action-button-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;

    
    margin-top: 4px;
    margin-bottom: 4px;

    background-color: rgba(0,0,0, .1);
    color: black;

    border-style: solid; 
    border-width: 1px; 
    border-color: gray; 

    border-radius: 4px;
   
}
.action-button-wrapper:hover{
    background-color: rgba(255,255,255,1);
    cursor: pointer; 
}

.action-button{
    margin: 8px;
}

.action-button-icon{
    margin: 4px;
    height:30px;
    width:30px;
}

.cmb-bold{
    font-weight: 700;
}

.fill-space{
    flex-grow: 1;
}

.container-padding{
    padding: 8px;
}
.child-padding{
    margin: 8px;
}
.bottom-spacer{
    margin-bottom: 4px;
}

.button-container{
    display: flex;
    flex-direction: column;

    padding: 4px;
}

.button-padding{
    margin: 4px;
}

.height-spacer{
    height:16px;
}
